.login-1{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: #b6a9d2;
    width: 100%;

  
  }
  
  .login-1b{
    display: flex;
    justify-content: center;
    height: 530px;
    align-items: center;
  }
  
  .login-2{
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 700px;
    margin: 30px;
    padding: 20px;


    
  }

  .login-3{
    display: inline;
    text-align: center;
    

}   

.login-3b{
    margin: 10px;
    justify-items: center;
    color: #1e1243;
    text-align: center;
    justify-content: center;
    
}

.login-3b h3{
    margin-top: 50px;
    margin-bottom: 40px;
}

.login-4a{
    display: flex;
    width: 420px;
    justify-content: right;
    margin: 5px;
    margin-left: 80px;
}
  

.login-4a label{
    padding-right: 20px;
    
  }
  
  .login-4a input{
    text-align: left;
    border: none;
    background-color: rgb(232, 239, 239);
    padding: 5px;
    justify-content: right;
    width: 250px;

  }
 

  
  .btn-4{
    justify-content: center;
    align-items: center;
        text-align: center;
        border: none;
        padding: 10px 20px;
        margin: 10px;
        color: #fff;
        background-color: #1e1243;
        border-radius: 10px;

  }
  
  .login-4b{
    margin-top: 30px;
    text-align: center;
  }