body {
  margin: 0 !important;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 0;

}

.main{
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;


}

.body-text{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  position: relative;
  color: #fff;
  background-color: #1e1243;
  height: 100px;
}

.body-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.total{
  color: #fff;
  font-size: 21px;
}


/* workshop detail page */

.workshop-block{
  display: flex;
  justify-content: center;
  background-color: #b6a9d2;
  margin-top: 50px;
  height: 630px;
  align-items: center;
  
}

.block1{
  margin: 0px;
  display:flex;
  position: relative;
  justify-content: center;
  /* border-radius: 15px; */
  width: 700px;
  height: 530px;
  background-color: #ffffff;


}

.block1 img{
  margin: 0;
  display: flex;
  position: relative;
  width: 100%;
  /* border-radius: 15px; */
}


.block2{
  background-color: #1e1243;
  margin: 0px;
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 480px;
  height: 530px;
  padding: 60px;

  /* border-radius: 15px; */
}

.block2 h2{
  color: #ffffff !important;
}

.block2 h6{
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}

.block2 p{
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

/* .profilepic img{
  width: 150px;
  height: 150px;
  border-radius: 200px;
} */



.block2-btns{
  display: flex;
  justify-content: center;
}

.btn-3{
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(34, 91, 41);
  font-weight: 800;
  margin: 5px;
  font-size: 16px;
  text-decoration: none;

}

.btn-3 a{
  text-decoration: none;
  color:rgb(34, 91, 41);
}



/* workshop page */

.workshops-1{
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background-color: #b6a9d2;
  width: 100%;
  height: 100%;

}

.workshops-1b{
  display: flex;
  justify-content: center;
  /* height: 550px; */
  margin: 0;
  border: 0;
}

.workshops-2{
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 700px;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
}

.btn-8{
  padding: 10px 10px;
  background-color: #f5a6bd;
  border: none;
  border-radius: 25px;
  color: #1e1243;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 20px;
  font-weight: 900;
  font-size: 16px;
  margin-top: 20px;
}