body {
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 0;

}

.main{
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;


  /* height: 450px; */
  /* position: relative; */
}

.body-text{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  position: relative;
  color: #fff;
  background-color: #1e1243;
  height: 100px;
}

.body-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}