*{
    font-family: 'Helvetica', sans-serif;
}

.navbar  {
    width: 94%;
    height: 120px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 90px;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
}


.links {
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: right;
    font-size: 16px;

}

.links a {
    /* color: rgb(104, 213, 125); */
    color:#1e1243;
    padding: 20px;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    
}

.links text {
    justify-content: space-between;
}

.logo {
    width: 300px;
    padding: 30px;
    margin: 30px;
    margin-top: 50px;
    justify-items: left;
}

.nav-btns{
    display: inline;
}

.btn-1 {
    padding: 10px 5px;
    background-color: #b6a9d2;
    border: none;
    border-radius: 15px;
}

.btn-1 a {
    color: #1e1243;
    align-items: center;
    justify-content: center;
}



.btn-2{
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: #1e1243;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .btn-2 a {
      color: #fff;
      text-decoration: none;
      font-weight: 900;
      align-items: center;
  }
  


  .btn-7{
    padding: 10px 10px;
    background-color: #edeb6f;
    border: none;
    border-radius: 25px;
    color: #1e1243;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 10px 20px;
    font-weight: 900;
  }
